{% extends "base.html.twig" %}

{% block bloc %}
<div class="container mt-4">
    <h1 class="heading text-center">Ajouter un article</h1>
    {{form_start(form)}}
    {{form_widget(form)}}
    <button type="submit" class="btn btn-secondary">Ajouter</button>    
    {{form_end(form)}}
</div>

{% endblock bloc %}