{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block bloc %}

<div class="container-fluid">
    <h1 class="heading text-center mt-2">Les articles</h1>
    <div class="row">
        {% for row in articles %}
        <div class="col-6">
            <div class="card m-3 mt-4">
                <div class="card-header">
                    <h4 class="heading text-center">{{row.titre}}</h4>
                </div>
                <div class="card-body">
                    
                    
                    <p class="card-text">
                            {{row.auteur}}
                           </p>
                    <h6 class="card-subtitle mb-2 text-muted">{{row.contenu[:200]}} ...</h6>
                    <p class="card-text">
                        
                    </p>
                    
                    <a href="{{ path('one_article', {id:row.id})}}" class="card-link">Voir plus</a>
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
</div>


{% endblock %}
