{% extends "base.html.twig" %}

{% block title %}
    Blog
{% endblock title %}

{% block bloc %}



     <div class="container-fluid mt-3">
         <div class="row">
             <div class="col-6">
                 <h2>Sujet de mon blog</h2>
                 <p>Le but de ce blog était de nous entrainer à utiliser les fonctionnalitées de base du framework symfony et de la PDO en PHP.<br><br>
                Le blog est relativement simple puisque il n'y a pas de système d'authentification, n'importe qui peut ajouter ou supprimer du contenu.<br><br>
                J'ai pensé que me focaliser sur les fonctionnalitées plutôt que sur le front était plus important, c'est pourquoi le blog est très simple en terme de design.</p>
             </div>
             {% if onearticle is not null  %}
                 
            
             <div class="col-6">
                 <h2>Article le plus récent</h2>
                 
                 <p>{{onearticle.contenu[:400]}} <br>...</p>
                 <a href="{{ path('one_article', {id:onearticle.id})}}">Voir l'article</a>
            </div>
            

            {% else %}

                <h1>Pas d'articles récent à afficher</h1>

            {% endif %}
         </div>
     </div>      
            
                
{% endblock bloc %}