{% extends "base.html.twig" %}

{% block bloc %}
    <div class="container mt-4">
        <h1 class="heading text-center">{{onearticle.titre}}</h1>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                            <p>Titre : {{onearticle.titre}}</p>
                            <p>Auteur : {{onearticle.auteur}}</p> 
                            <p>Date : {{onearticle.date}}</p> 
                            <p>Contenu : <p>{{onearticle.contenu}}</p></p> 
                    </div>
                   
                    
                </div>

                        <a href="{{ path('articles')}}" class="btn btn-secondary mt-2">Retour</a>
                    
                            <a href="{{ path('ajout_article')}}" class="btn btn-secondary mt-2">Ajouter un article</a>
                            <a href="{{ path('delete_article', {id:onearticle.id})}}" class="btn btn-danger mt-2">Supprimer l'article</a>
                        
                   
            </div>
            
        </div>
    </div>
{% endblock bloc %}